 /* :root{
    --color__bg: -webkit-linear-gradient(left, #12c2e9, #c471ed, #f64f59);
    background: -o-linear-gradient(left, #12c2e9, #c471ed, #f64f59);
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
}  */